@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EShop_Site.Components
@using EShop_Site.Models
@model UserForm

@{
    ViewData["Title"] = "User profile";
    var currentUrl = Context.Request.Path + Context.Request.QueryString;
}

<head>
    <title>@ViewData["Title"] - TradeWave</title>
</head>

<body>
<div class="profile-box">
    <h2 class="heading-title">Profile</h2>
    <label class="profile-lable">Name: @(Model.Name ?? "No data")</label>
    <label class="profile-lable">Last name: @(Model.LastName ?? "No data")</label>
    @if (@Model.Patronymic is not null)
    {
        <label class="profile-lable">Patronymic: @Model.Patronymic</label>
    }
    <label class="profile-lable">Email: @(Model.Email ?? "No data")</label>
    <label class="profile-lable">PhoneNumber: @(Model.PhoneNumber ?? "No data")</label>
</div>
<div class="profile-end-box">
    @if (@Model.Email is null)
    {
        <style>
            .disabled-link {
            pointer-events: none;
            cursor: default;
            color: grey;
            border-color: grey;
        }
        </style>
    }
    <a id="edit-bt" class="button-type-1 disabled-link" style="background-color: var(--darkBlue); margin-right: 1em;" asp-controller="EditForms" asp-action="EditUser" asp-route-userForm="@Model" asp-route-returnUrl="@currentUrl">Edit</a>
    <a class="button-type-1 modal-confirm-button" style="background-color: var(--darkBlue); align-self: flex-end;" 
       @(MessageStorage.ConfirmMessage = "Are you sure you want to log out of your account?") 
       @(MessageStorage.LinkMessage = "https://localhost:44383/Authentication/Logout")>Log out</a>
</div>

</body>