@using SharedLibrary.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EShop_Site.Models.UserData


    <div class="profile-box">
        <h2 class="heading-title">Profile</h2>
        <label class="profile-lable">Name: @(Model.Name ?? "No data")</label>
        <label class="profile-lable">Last name: @(Model.LastName ?? "No data")</label>
        @if (@Model.Patronymic is not null)
        {
            <label class="profile-lable">Patronymic: @Model.Patronymic</label>
        }
        <label class="profile-lable">Email: @(Model.Email ?? "No data")</label>
        <label class="profile-lable">PhoneNumber: @(Model.PhoneNumber ?? "No data")</label>
    </div>
    <div class="profile-end-box">
        <a class="button-type-1" style="background-color: var(--darkBlue); margin-right: 1em;">Edit</a>
        <a class="button-type-1" style="background-color: var(--darkBlue); align-self: flex-end;" asp-controller="Authentication" asp-action="Logout" asp-route-returnUrl="@Context.Request.Path">Log out</a>
    </div>


<div id="errorModal" class="modal-section">
    <div class="modal-content">
        <span class="modal-close-cross">&times;</span>
        <h2 class="heading-title">Error</h2>
        <div id="errorMessages" class="modal-text">
            <p id="message-text">@Model.Message</p>
        </div>
        <button class="button-type-1 modal-close-btn">Ok</button>
    </div>
</div>

<!-- Скрытый элемент для передачи значения Message -->
<input type="hidden" id="errorMessage" value="@Model.Message"/>

<script defer src="~/js/modalMessage.js"></script>